<div class="container">
    <div class="form-horizontal">
        <div class="form-group">
            <label for="resolution" class="col-xs-3 control-label">Résolution de la fenêtre</label>
            <div class="col-xs-6">
                <select class="form-control" [(ngModel)]="_resolution" (change)="setResolution($event.target.value)">
                    <option *ngFor="let r of resolutions" [value]="r.value">{{r.name}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" class="shortcut" [(ngModel)]="settingsService.option.general.developper_mode"> Mode developpeur
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" class="shortcut" [(ngModel)]="settingsService.option.general.hidden_shop"> Cacher le bouton Shop
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
