<div class="col-xs-2" id="menu" style="position:fixed; height:100%">
    <ul class="nav nav-pills tabs-left" style="height:100%">
        <li class="nav-item">
            <a class="nav-link" routerLink="/option/general" routerLinkActive="active">
                General
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/option/shortcuts" routerLinkActive="active">
                Raccourcis
            </a>
        </li>
    </ul>
</div>
<div class="offset-xs-2 col-xs-10" id="content" style="height:100%">
    <div class="tab-content">
         <router-outlet></router-outlet>
    </div>
</div>
