<ul class="nav nav-tabs" fxFlex>
    <li class="nav-item">
        <a class="nav-link" routerLink="/option/shortcuts/no-emu" routerLinkActive="active">
                No-Emu
            </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/option/shortcuts/diver" routerLinkActive="active">
                Divers
            </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/option/shortcuts/spell" routerLinkActive="active">
                Sorts
            </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/option/shortcuts/item" routerLinkActive="active">
                Objets
            </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/option/shortcuts/interface" routerLinkActive="active">
                Interfaces
            </a>
    </li>
</ul>
<div class="tab-content">
    <router-outlet></router-outlet>
</div>
