@keyframes blink {
  0% {
      color: white;
      background: #ff9245;
   }
  50% {
      color: #555;
      background: white;
  }
  100% {
      color: white;
      background: #ff9245;
   }
}

.nav {
    position: absolute;
    width: 100%;
    height: 35px;
}

.notif-tab {
  animation: blink 1.5s linear infinite;
}

.game-tab {
    position:relative;

}

.game-tab.active > a{
    /*background-color: #158cba!important;*/

}

.game-tab > a {
    padding-right: 7px!important;
    border-radius: 0px!important;
}

.game-tab > a > span.fa {
    top:2px;
    margin-left: 3px;
    visibility: hidden;
    cursor:pointer;
    color: #ce3d3d;
}

.game-tab:hover > a > span.fa {
    visibility: visible;
}

.add-tab > span {
    cursor:pointer;
}
