<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/bower_components/bootswatch-dist/css/bootstrap.css" />
    <title>ChangeLog</title>
    <style>

    </style>
</head>
<body >
    <div class="container" id="main">

    </div>
</body>
<script>
const ghm = require("github-flavored-markdown");
const app = require('electron').remote.app;

var fs = require('fs');

fs.readFile(app.getAppPath()+'/CHANGELOG.md', {encoding: 'utf-8'}, function(err,data){
    if (err){
        console.log(err);
    }else{
        document.getElementById('main').innerHTML = ghm.parse(data);
    }

});
</script>
