<div class="form-horizontal">
    <div class="col-xs-6">
        <option-shortcuts-input id="carac" name="Personnage" [(model)]="settingsService.option.shortcuts.interface.carac"></option-shortcuts-input>
        <option-shortcuts-input id="spell" name="Sorts" [(model)]="settingsService.option.shortcuts.interface.spell"></option-shortcuts-input>
        <option-shortcuts-input id="bag" name="Inventaires" [(model)]="settingsService.option.shortcuts.interface.bag"></option-shortcuts-input>
        <option-shortcuts-input id="bidhouse" name="Hôtel de vente" [(model)]="settingsService.option.shortcuts.interface.bidhouse"></option-shortcuts-input>
        <option-shortcuts-input id="map" name="Carte" [(model)]="settingsService.option.shortcuts.interface.map"></option-shortcuts-input>
        <option-shortcuts-input id="friend" name="Amis" [(model)]="settingsService.option.shortcuts.interface.friend"></option-shortcuts-input>
        <option-shortcuts-input id="book" name="Quêtes" [(model)]="settingsService.option.shortcuts.interface.book"></option-shortcuts-input>
        <option-shortcuts-input id="guild" name="Guildes" [(model)]="settingsService.option.shortcuts.interface.guild"></option-shortcuts-input>
        <option-shortcuts-input id="conquest" name="Kolizeum" [(model)]="settingsService.option.shortcuts.interface.conquest"></option-shortcuts-input>
        <option-shortcuts-input id="goultine" name="Shop" [(model)]="settingsService.option.shortcuts.interface.goultine"></option-shortcuts-input>
        <option-shortcuts-input id="job" name="Metiers" [(model)]="settingsService.option.shortcuts.interface.job"></option-shortcuts-input>
    </div>
    <div class="col-xs-6">
        <option-shortcuts-input id="alliance" name="Alliance" [(model)]="settingsService.option.shortcuts.interface.alliance"></option-shortcuts-input>
        <option-shortcuts-input id="mount" name="Monture" [(model)]="settingsService.option.shortcuts.interface.mount"></option-shortcuts-input>
        <option-shortcuts-input id="directory" name="Repertoire de guilde et d'alliance" [(model)]="settingsService.option.shortcuts.interface.directory"></option-shortcuts-input>
        <option-shortcuts-input id="alignement" name="Alignement" [(model)]="settingsService.option.shortcuts.interface.alignement"></option-shortcuts-input>
        <option-shortcuts-input id="bestiary" name="Bestiare" [(model)]="settingsService.option.shortcuts.interface.bestiary"></option-shortcuts-input>
        <option-shortcuts-input id="title" name="Titres et Ornements" [(model)]="settingsService.option.shortcuts.interface.title"></option-shortcuts-input>
        <option-shortcuts-input id="achievement" name="Succés" [(model)]="settingsService.option.shortcuts.interface.achievement"></option-shortcuts-input>
        <option-shortcuts-input id="almanax" name="Almanax" [(model)]="settingsService.option.shortcuts.interface.almanax"></option-shortcuts-input>
        <option-shortcuts-input id="spouse" name="Conjoint" [(model)]="settingsService.option.shortcuts.interface.spouse"></option-shortcuts-input>
        <option-shortcuts-input id="shop" name="Marchand" [(model)]="settingsService.option.shortcuts.interface.shop"></option-shortcuts-input>
    </div>
</div>
